@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://necolas.github.io/normalize.css/');

@keyframes appear {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0;
  }
100% {
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
  opacity: 1;
  }
}

@-webkit-keyframes circle-jump {
  0% {
      -webkit-transform: translateY(0);
      transform:translateY(0)
  }

  100% {
      -webkit-transform: translateY(15px);
      transform:translateY(15px)
  }
}

@keyframes circle-jump {
  0% {
      -webkit-transform: translateY(0);
      transform:translateY(0)
  }

  100% {
      -webkit-transform: translateY(15px);
      transform:translateY(15px)
  }
}

@-webkit-keyframes end-loader {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity:1
  }

  100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      opacity:0
  }
}

@keyframes end-loader {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      opacity:1
  }

  100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      opacity:0
  }
}

@-webkit-keyframes no-scroll {
  0% {
      overflow-y:hidden
  }

  100% {
      overflow-y:auto
  }
}

@keyframes no-scroll {
  0% {
      overflow-y:hidden
  }

  100% {
      overflow-y:auto
  }
}

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
  --othergreen: #008766;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background:rgb(240, 238, 238);
}

footer {
  background-color: black;
  opacity: 85%;
}

footer a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: black;
  background-color: #e5dddd;
}

.reservations {
  align-items: center;
  background-color: rgb(240, 238, 238);
  padding-bottom: 50px;
}

.reservations h2 {
  display: flex;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  list-style: none;
  margin: 0%;
  padding-bottom: 5%;
}

footer h3 {
  color: white;
  font-family: Shrikhand, sans-serif;
  font-weight: bolder;
}

article h2 {
  width: 80%;
  font-family: Shrikhand, sans-serif;
}

a {
  text-decoration: none;
}

header>a {
  position: absolute;
  left: 20px;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: bolder;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

h3 {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10%;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

h4 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: black;
}

p {
  margin-left: 20px;
  margin-top: -5px;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  color: black;
}

b {
  margin-right: 40px;
  font-family: Roboto, sans-serif;
}

span {
  margin-right: 20px;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  color: black;
}

input[type=search] {
  background-color: #e5dddd;
  border: none;
  -webkit-appearance: none;
  margin-right: -25px;
  padding-left: 25px;
}

input:focus-visible {
  outline: none;
}

.reservations a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 3%;
  background: linear-gradient(var(--primary),var(--secondary));
  color: #fff;
  cursor: pointer;
  border-radius: 35px;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
}

.reservations a:hover {
  opacity: 80%;
  transition: all 1s ease-out
}

.reservations a:focus {
  opacity: 80%;
  transition: all 1s ease-out
}

.reservations p {
  text-align: center;
}

section ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: space-around;
  list-style: none;
  width: 85%;
}

.index-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.index-li:hover {
  color: var(--primary);
  transition: all 1s ease-out
}

.index-li:focus {
  color: var(--primary);
  transition: all 1s ease-out
}

section li {
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: inherit;
  width: 100%;
  height: 70px;
}


section li:hover {
  background-color: #f3ebff;
}

section li:focus {
  background-color: #f3ebff;
}

.block-scroll-loader {
  animation: no-scroll 5s ease-in-out;
  animation-duration: 5s;
}

.loader {
  position: fixed;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  top: 10%;
  z-index: 999;
  height: 120%;
  width: 100%;
  background-color: #fff;
  animation: end-loader .3s forwards;
  animation-delay: 2.5s;
}

.loader__circle {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 15px;
  height: 15px;
  margin: 5px;
  margin-bottom: 50%;
  border-radius: 50%;
  background: var(--primary);
}

.loader--circle-1 {
  animation: circle-jump .5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
}

.loader--circle-2 {
  left: 20px;
  animation: circle-jump .5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
  animation-delay: 0.2s;
}

.loader--circle-3 {
  left: 40px;
  animation: circle-jump .5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
  animation-delay: 0.4s;
}

.animation {
  animation: appear 1s forwards;
  opacity: 0;
}

.animation-1 {
  animation-delay: 0.2s;
}

.animation-2 {
  animation-delay: 0.4s;
}

.animation-3{
  animation-delay: 0.6s;
}

.animation-4 {
  animation-delay: 0.8s;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  background: white;
  border-radius: 15px;
  height: 100%;
}

.label {
  display: inherit;
  position: absolute;
  border-radius: 3px 3px 3px 3px;
  align-items: center;
  place-content: space-around;
  top: 20px;
  right: 20px;
  width: 30%;
  height: 35px;
  font-family: Roboto, sans-serif;
  background: var(--tertiary);
  color: var(--othergreen);
}

figure {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: stretch; 
}

img {
  display: flex;
  object-fit: cover;
  border: white 1px solid;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 250px;
}

figcaption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  border: white 1px solid;
  border-radius: 0px 0px 25px 25px;
  background: white;
}

.fa-li {
  position: absolute;
  display: inherit;
  place-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--primary);
  margin: 20px;
  right: -20px;
  height: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.fa-solid {
  margin-right: 10px;
}

.fa-handshake-angle {
  margin: 0;
  margin-right: 9px;
}

.fa-solid.fa-mobile-screen-button{
  margin: unset;
}

.fa-ul {
  margin-left: var(--fa-li-margin,2em);
}

.fa-ul>li {
  position: relative;
  box-shadow: 1px 1px 5px -3px;
}

.fa-regular.fa-heart {
position: absolute;
right: 30px;
bottom: 45px;
color: black;
font-weight: lighter;
transition: all 444ms;
}

.fa-regular.fa-heart:hover {
  font-weight: 900;
  color: var(--secondary);
  transition: all 1s ease-out
}
.fa-regular.fa-heart:active {
  font-weight: 900;
}

.menus {
  display: flex;
  flex-direction: column;
  background: white;
}

button {
  padding: 20px;
  margin-left: 25%;
  margin-bottom: 14%;
  background: linear-gradient(175deg,var(--secondary), var(--primary));
  color: #fff;
  cursor: pointer;
  border-radius: 35px;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  width: 50%;
  box-shadow: 3px 3px 20px -9px black;
  margin-top: 5%;
  border: none;
}

button:hover {
  opacity: 80%;
  transition: all 1s ease-out
}

button:focus {
  opacity: 80%;
  transition: all 1s ease-out
}

.fig-menus {
  width: 100%;
  margin: 0;
}

.img-menus {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 250px;
}

article header {
  position: relative;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  bottom: 25px;
}

.fa-regular.fa-heart.menus {
  top: 25px;
  font-size: x-large;
}

.green-line::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 4px;
  bottom: -5px;
  background-color: var(--tertiary);
}

.menus li {
  box-shadow: 0px 5px 20px -10px;
}

.menus li:hover {
  transform: scale(1);
  transition: all 444ms;
  background-color: white;
} 

.menus li:focus {
  transform: scale(1);
  transition: all 444ms;
  background-color: white;
} 

.menus li:hover .fa-circle-check {
  color: white;
  transform: rotate(360deg);
  transition: transform 1.5s;
}

.menus li:focus .fa-circle-check {
  color: white;
  transform: rotate(360deg);
  transition: transform 1.5s;
}

.menus li:hover .item-container {
  width: calc(100% - 80px);
  transition: all 444ms;
  border-radius: 15px 0px 0px 15px;
}

.menus li:focus .item-container {
  width: calc(100% - 80px);
  transition: all 444ms;
  border-radius: 15px 0px 0px 15px;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: right;
  z-index: -1;
  color: var(--tertiary);
  background-color: var(--tertiary);
}

.fa-circle-check {
  margin-top: 25px;
  margin-right: 30px;
  font-size: x-large;
}



@media (min-width: 768px) {
  main {
    padding-bottom: 1%;
  }

  section ul {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 30px;
  }

  figure {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 50%;
  }

  a {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    text-decoration: none;
  }

  .reservations a {
    margin-left: 0;
  }

  button {
    width: 25%;
    margin-left: 40%;
  }

  footer {
    background-color: black;
    opacity: 85%;
}

.Logo {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
  margin-bottom: 2%;
  justify-content: center;
  margin-top: 2%;
}

  footer a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  article {
    width: 100%;
    }
}

@media (min-width: 1200px) {

  .fa-ul>li {
    box-shadow: 1px 1px 5px -3px;
    margin-left: -15%;
    width: 30%;
  }
  
  .reservations a {
    margin-left: 0;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  h3 {
    position: inherit;
    display: flex;
    align-items: center;
    margin-left: 1%;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    margin-left: 5px;
    width: 10%;
  }

  .conteneur {
    display: flex;
    flex-direction: row;
  }

  figure {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 280px;
  }

  section ul {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 30px;
  }
  .green-line {
    position: sticky;
    display: flex;
    align-items: flex-start;
    margin-left: 1%;
  }

  .img {
    width: 25%;
  }

  a {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    text-decoration: none;
  }

  .Logo {
    position: inherit;
  }
}