@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://necolas.github.io/normalize.css/');

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 60px;
}

main {
  display: flex;
  flex-direction: column;
  background:rgb(240, 238, 238);
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  opacity: 85%;
}

footer a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: black;
  background-color: #e5dddd;
}

.reservations {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 238, 238);
  padding-bottom: 50px;
}

#restaurants {
  display: flex;
}

footer h3 {
  color: white;
  font-family: Shrikhand, sans-serif;
  font-weight: bolder;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  margin-left: -20px;
  margin-top: -5px;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  align-items: normal;
  font-family: Shrikhand, sans-serif;
  font-weight: bolder;
}

h2 {
  display: flex;
  flex-flow: column wrap;
  place-content: space-around center;
  align-items: stretch;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold ;
}

h3 {
  display: flex;
  align-items: center;
  margin-left: 5%;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

h4 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 128px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: stretch;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  text-align: center;
}

span {
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  color: black;
}

input[type=search] {
  background-color: #e5dddd;
  border: none;
  -webkit-appearance: none;
  margin-right: -25px;
  padding-left: 25px;
}

.reservations a {
  padding: 20px;
  box-shadow: 5px 5px 5px lightgray;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  cursor: pointer;
  border-radius: 35px;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}


section ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: space-around;
  list-style: none;
  width: 90%;
}

section li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  place-content: space-evenly;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px lightgrey;
  margin: inherit;
  width: 100%;
  height: 70px;
}


section li:hover {
  background-color: #f3ebff;
  color: #9356DC;
}

label {
  display: inherit;
  position: absolute;
  border-radius: 3px 3px 3px 3px;
  align-items: center;
  place-content: space-around;
  top: 20px;
  right: 20px;
  width: 30%;
  height: 35px;
  font-family: Roboto sans-serif;
  background: #99E2D0;
  color: #5d8a7f;
}

.fa-regular {
  font-weight: 900;
  margin-left: -15px;
}

figure {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: stretch; 
}

img {
  display: flex;
  object-fit: cover;
  border: white 1px solid;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 250px;
}

figcaption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  border: white 1px solid;
  border-radius: 0px 0px 25px 25px;
  background: white;
}

.fa-li {
  position: absolute;
  display: inherit;
  place-content: center;
  align-items: center;
  border-radius: 50px;
  background: #9356DC;
  margin: 20px;
  right: -20px;
  height: 30px;
  color: white;
  font-family: 'Roboto';
}
.fa-ul>li {
  position: relative;
}